extends ../templates/layout.pug

block content
  if(user.avatarUrl)
    img(src='/' + user.avatarUrl)
  else
    img(src='/assets/img/default.jpg' alt='default image')
  form(method='post' enctype='multipart/form-data')
    label(for='avatar')
    input(type='file' name='avatar' id='avatar' accept='image/*')
    input(type='text' name='userId' value=`${user.userId}` placeholder='User Id' required)
    input(type='email' name='email' value=`${user.email}` placeholder='Email' required)
    input(type='text' name='location' value=`${user.location}` placeholder='User Locaton')
    input(type='submit' value='Edit Profile')
    hr
    ul
      li
        a(href=`/users/${user._id}/change-password`) Change Password
      li
        a(href=`/users/${user._id}/trueLeave`) Delete User